body {
    font-family: Tahoma;
    color: white;
    padding: 20px;
    
}
#background {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100ch;
    z-index: -1;
}
h1 {
    font-size: 24px;
    line-height: 30px;
}
h2 {
    font-size: 16px;
    line-height: 20px;
} 
#links, #titleBlock {
    background-color: black;
    width: 460px;
    padding: 20px;
}
.redirect {
    width: 400px;
    height: 50px;
    margin: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.redirect:hover {
    background-color: rgb(37, 37, 37);
}
.redirect:active {
    background-color: rgb(86, 86, 86);
}